.title {
    color     : black;
    font-size : 30px;
    text-align: center;
    margin-top: 50px;
}

.table {
    margin-top     : 20px;
    display        : flex;
    justify-content: center;
}

table {
    width             : 50%;
    border            : 1px solid black;
    /* border-collapse: collapse; */
}

td {
    border    : 1px solid black;
    padding   : 10px;
    text-align: center;
}

td:hover {
    background: black;
    color     : white;
}